.addTaskDropdown {
    top: 4rem;
    display: flex;
    flex-flow: column;
    position: fixed;
    width: 20em;
    min-width: 300px;
    background-color: white;
    align-self: center;
    padding: 1em;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: all .5s ease-in-out;
}

.addTaskDropdown--hidden {
    top: -200px
}

.addTaskDropdown__label {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    margin-bottom: 1.5em;
    align-items: center;
}

.addTaskDropdown__input {
    min-height: 2em;
    border: 1px solid #adadad ;
    border-radius: 1em;
    padding-left: 0.5em;
    -webkit-appearance: none;
}

.addTaskDropdown__input--textarea {
    resize: vertical;
    font-family: inherit;
    font-size: inherit;
    min-width: 2em;
    border-bottom-right-radius: 0;
}

.addTaskDropdown__warning {
    color: red;
}

.addTaskDropdown__button--container {
    display: flex;
    justify-content: space-evenly;
}

.addTaskDropdown__button--add, .addTaskDropdown__button--close {
    align-self: center;
    height: 2em;
    width: 8em;
    border-radius: 1em;
    border: none;
}

.addTaskDropdown__button--add{
    background-color: #adadad;
    color: white;
}

.addTaskDropdown__button--close {
    background-color: #C80E0E;
    color: white;
}