.addTaskDropdown {
    top: 4rem;
    display: flex;
    flex-flow: column;
    position: fixed;
    width: 20em;
    min-width: 300px;
    background-color: white;
    align-self: center;
    padding: 1em;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: top .5s ease-in-out;
}

.addTaskDropdown--hidden {
    top: -200px
}

.addTaskDropdown--hidden label textarea{
    height: 1em !important;
    transition: height .4s ease-in-out; 
}

.addTaskDropdown__label {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    margin-bottom: 1.5em;
    align-items: center;
}

.addTaskDropdown__input {
    min-height: 2em;
    border: 1px solid #adadad ;
    border-radius: 1em;
    padding-left: 0.5em;
    -webkit-appearance: none;
    transition: box-shadow 0.1s ease-in-out;
}

.addTaskDropdown__input--select {
    background: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0Ljk1IDEwIj48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6I2ZmZjt9LmNscy0ye2ZpbGw6IzQ0NDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmFycm93czwvdGl0bGU+PHJlY3QgY2xhc3M9ImNscy0xIiB3aWR0aD0iNC45NSIgaGVpZ2h0PSIxMCIvPjxwb2x5Z29uIGNsYXNzPSJjbHMtMiIgcG9pbnRzPSIxLjQxIDQuNjcgMi40OCAzLjE4IDMuNTQgNC42NyAxLjQxIDQuNjciLz48cG9seWdvbiBjbGFzcz0iY2xzLTIiIHBvaW50cz0iMy41NCA1LjMzIDIuNDggNi44MiAxLjQxIDUuMzMgMy41NCA1LjMzIi8+PC9zdmc+) no-repeat 100% 100%;
}

.addTaskDropdown__input:focus {
    outline: none;
    box-shadow: 0 0 0.2em #C80E0E
}


.addTaskDropdown__input--textarea {
    resize: vertical;
    font-family: inherit;
    font-size: inherit;
    min-width: 2em;
    max-height: 10em;
    border-bottom-right-radius: 0;
    
}

.addTaskDropdown__button--container {
    display: flex;
    justify-content: space-evenly;
}

.addTaskDropdown__button--add, .addTaskDropdown__button--close {
    align-self: center;
    height: 2em;
    width: 8em;
    border-radius: 1em;
    border: none;
}

.addTaskDropdown__button--add{
    background-color: #adadad;
    color: white;
}

.addTaskDropdown__button--close {
    background-color: #C80E0E;
    color: white;
}