.addTaskPU {
    top: 95px;
    display: flex;
    flex-flow: column;
    position: fixed;
    margin-top: -25px;
    width: 20em;
    min-width: 300px;
    background-color: white;
    align-self: center;
    padding: 1em;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: all .5s ease-in-out;
}

.addTaskPU--hidden {
    top: -200px
}

.addTaskPU__label {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    margin-bottom: 1.5em;
    align-items: center;
}

.addTaskPU__input {
    min-height: 2em;
    border-radius: 1em;
    border-width: 1px;
    padding-left: 0.5em;
    -webkit-appearance: none;
}

.addTaskPU__input--textarea {
    resize: vertical;
    font-family: inherit;
    font-size: inherit;
    min-width: 2em;
    border-bottom-right-radius: 0;
}

.addTaskPU__warning {
    color: red;
}

.addTaskPU__button {
    align-self: center;
    height: 2em;
    width: 10em;
    border-radius: 1em;
    border: none;
    background-color: #C80E0E;
    color: white;
}