.main {
    display: flex;
    flex-flow: column;
    background-color: #F0F0F0;
    width: 100%;
    min-width: 700px;
    overflow-y: auto;
    padding: 25px;
}

.main__header {
    display: flex;
    padding: 30px;
    justify-content: space-between;
    align-items: center;
}

.main__headerContainer {
    display: flex;
}

.main__addTagButton {
    margin-left: 1em;
    font-size: 1em;
    height: 2em;
    width: 2em;
    border-radius: 1em;
    border: none;
    background-color: #C80E0E;
    color: white;
}


.main_blur {
    margin: -25px 0px 0px -25px;
    position: absolute;
}