.nav {
    height: 100%;
    display: grid;
    grid-template-rows: 35% 65%;
    background-color: #fff;
    padding: 25px;
}

.nav__tab {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.nav__item {
    font-weight: normal;
    margin-right: 5px;

}

.nav__item--selected {
    font-weight: bold;
}

.nav__itemNumber {
    font-weight: lighter;
}