.nav{
    height: 100%;
    display: grid;
    grid-template-rows: 35% 65%;
    width: 20vw;
    background-color: #fff;
    padding: 50px;
}

.nav__tab{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.nav__item{
    font-weight: normal;
    margin-right: 10px;
    
}

.nav__item--selected{
    font-weight: bold;
}

.nav__itemNumber{
    font-weight: lighter;
}