.tagItem {
    display: flex;
    margin-top: 0.5em;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.tagItem__container--left, .tagItem__container--right {
    display: flex;
    flex-flow: row;
    align-items: center;
}

.tagItem__circle {
    width: 0.3em;
    height: 0.3em;
    border-radius: 50%;
    margin: 0.3em;
}

.tagItem__tasksNumber {
    font-weight: 600;
    margin-right: 1em;
}