.card {
    background-color: #fff;
    display: inline-grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    width: 25vw;
    min-width: 20em;
    min-height: 6em;
    padding: 20px;
    margin: 25px;
    border-radius: 25px;
}

.card__form{
    display: inline-grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    width: 25vw;
    min-width: 20em;
    min-height: 6em;


}

.card__checkbox {
    padding-right: 20px;
}

.card__checkbox--input {
    width: 2em;
    height: 2em;
    border-radius: 50%
}

.card__content {
    align-items: flex-start;
}

.card__content--title {
    font-size: 1.3rem;
    word-break: break-all;
    width: 100%;
}

.card__content--description {
    word-break: break-all;
}

.card__content--editTitle {
    min-height: 2em;
    border: 1px solid #adadad;
    border-radius: 1em;
    padding-left: 0.5em;
    -webkit-appearance: none;
    width: 100%;
}

.card__content--editDescription {
    min-height: 2em;
    border: 1px solid #adadad;
    border-radius: 1em;
    padding-left: 0.5em;
    -webkit-appearance: none;
    resize: vertical;
    font-family: inherit;
    font-size: inherit;
    min-width: 2em;
    max-height: 10em;
    border-bottom-right-radius: 0;
}

.card__controls {
    max-width: 7em;
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: flex-end;
    justify-content: space-between;
}

.card__buttons--container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.buttons__button {
    height: 1em;
    width: 1em;
    margin-left: 0.5em;
    transition: all .2s
}


.buttons__button:hover {
    cursor: pointer;
    color: #C80E0E;
}

.buttons__button--check:hover {
    color: #02a82c;
}

.card__tag {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tag__circle {
    width: 0.3em;
    height: 0.3em;
    border-radius: 50%;
    margin: 0.3em;
}